.pf-v6-c-page__main-container {
  height: 100%;
}

.pf-v6-c-toolbar__content-section {
  row-gap: 16px !important;
}

.pf-v6-c-page__sidebar-body {
  padding-top: 0;
}

#webpack-dev-server-client-overlay,
#react-refresh-overlay {
  height: 20% !important;
  top: 80% !important;
  position: absolute !important;
}

/* This is a workaround to fix the issue where the popper is not hidden when it is under a sticky element */
/* see https://patternfly.slack.com/archives/C4FM977N0/p1770841996269279?thread_ts=1770758540.910189&cid=C4FM977N0 */
/* ACM-29813 */
[data-popper-reference-hidden='true'] {
  visibility: hidden;
  pointer-events: none;
}
